*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: rgb(191, 165, 141);
    transition: 0.1s;
}

.form
{
    display: block;
    margin: auto 0px auto 0px;
}

label
{
    width: 100vh;
    background-color: transparent;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    margin: 0px;
    padding: 0px;
}

input 
{
    direction: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.90);
    width: 350px;
    font-size: 15px;

    display: block;

    border-radius: 5px;

    margin: 0px;
    margin-top: 5px;
    padding: 10px;
}

.op
{
    margin: 0px;
    background-color: transparent;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}

button{
    background-color: rgb(255, 255, 255, 0.75);
    width: 370px;
    height: 30px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    border: 0.1px black solid;
}
button:hover{
    background-color: rgba(201, 201, 201, 0.75);
}